body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  height: 120px;
  width: 120px;
  padding: 0;
  text-align: center;
  margin-right: -1px;
  margin-top: -1px;
  font-weight: bold;
  line-height: 34px;
  font-size: 70px;
  float: left;
  box-sizing: border-box;
}

.square-white {
  background: #fff;
  border: 1px solid #999;
}

.square-red {
  background: #f77;
  border: 1px solid #999;
}

.square-nb {
  background: #fff;
  border: 0px solid #fff;
  margin-left: 1px;
  margin-top: 0px;
  height: 119px;
  width: 119px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin: auto;
}

.game-title {
  max-height: 20%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
  height: auto;
}